.cover__subtitle {
    max-width: 360px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 2;
}