.cover__subtitle {
    max-width: 360px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 0 auto;
    z-index: 2;
}
@media screen and (max-width: 575px) {
    .cover__subtitle {
        max-width: 280px;
        font-size: 14px;
        line-height: 16px;
    }
}