.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}
@media screen and (min-width: 1440px) {
    .footer__copyright {
        font-size: 17px;
    }
}
@media screen and (max-width: 575px) {
    .footer__copyright {
        line-height: 14px;
    }
}