.cover__overlay {
    padding: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        padding: 130px 50px;
    }
}
@media screen and (max-width: 768px) {
    .cover__overlay {
        padding: 100px 0px;
    }
}
@media screen and (max-width: 425px) {
    .cover__overlay {
        padding: 50px 30px;
    }
}
.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 44, 47);
    opacity: .3;
    transition: opasity .7s linear;
}
.cover__overlay:hover:before {
    opacity: .8;
}