.lead__caption {
    font-size: 10px;
    line-height: 14px;
    margin: 8px 0 0 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
}
@media screen and (max-width: 1000px) {
    .lead__caption {
        padding: 0 24px;
    }
}
@media screen and (max-width: 575px) {
    .lead__caption {
        padding: 0 16px;
    }
}
