.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .place {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 928px;
        column-gap: 32px;
    }
}
@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        column-gap: 28px;
    }
}
@media screen and (max-width: 575px) {
    .place {
        display: flex;
        flex-direction: column;
        
    }
}
